/* HELPER CLASSES */

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

/* HELPER CLASS END */

/* GENERAL */

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
}
.container {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    /* border: 1px solid blue; */
    overflow: hidden;
    padding: 40px 20px;
}

/* HERO SECTION */

#hero {
    background-image: url('../img/hero-bg.png');
    background-color: #e74c3c;
    color: #fff;
}

.logo-img {
    /* border: 1px solid purple; */
}

/* navigation */

.navbar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-left: 0;
    /* margin-top: 23px; */
}

.navbar :first-child {
    flex-grow: 1;
}

.navbar li {
    padding-right: 1.25rem;
    text-transform: capitalize;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    padding-bottom: 5px;
    border-bottom: 4px solid #fff;
    transition: border-bottom 0.2s;
}

/* hero */

.cta-container {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.cta-info {
    max-width: 547px;
}

.hero-heading {
    font-size: 3.25rem;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
}

.hero-para {
    font-size: 2.25rem;
    margin-bottom: 30px;
}

.iphone-container {
    width: 374px;
}

.iphone {
    width: 25.75rem;
    /* width: 85%; */
    position: relative;
    margin-bottom: -240px;
}

.cta-button {
    background-color: #353535;
    color: #fff;
    padding: 7px 42px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
}

.phone-icon {
    vertical-align: middle;
    padding-right: 10px;
}

.cta-button:hover {
    background-color: #585555;
}
.cta-button:active {
    position: relative;
    top: 1px;
}

/* APP-FEATURES-SECTION */
#features {
    height: 100vh;
}
.features-heading {
    font-size: 3.25rem;
    text-align: center;
    margin-bottom: 30px;
    /* margin-top: 20px; */
    color: #9c9c9c;
}

.feature {
    padding: 1.2rem 0;
}

.features-para {
    width: 80%;
    /* text-align: center; */
    line-height: 1.25;
    margin: 0 auto;
}

.feature-para {
    padding: 0.1rem 1.5rem;
    color: #9c9c9c;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    /* border: 1px solid blue; */
}
.column {
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    text-align: center;
    width: 31%;
    /* border: 1px solid green; */
    /* margin-right: 30px; */
}

/* DOWNLOAD SECTION */

#download {
    background: url(../img/nose-bg.png) no-repeat 90% top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.download-heading {
    font-size: 3.25rem;
    color: #fd6b63;
}
span {
    color: #fff;
}

.download-para {
    font-size: 1.5rem;
}

.download-column {
}
